In [1]:
from __future__ import division
import pandas as pd
import numpy as np 
import matplotlib.pylab as plt
from code.organize import *
from code.roughEDA import *
from code.survey_processor_full import *
from code.model_vis import *
from code.fc import *

from sklearn.cross_validation import train_test_split
from sklearn.ensemble import RandomForestClassifier, GradientBoostingClassifier
from sklearn.metrics import roc_auc_score, confusion_matrix,roc_curve
from sklearn.grid_search import GridSearchCV
from sklearn.cross_validation import cross_val_score
from sklearn.metrics import silhouette_samples, silhouette_score
from sklearn.decomposition import PCA

from treeinterpreter import treeinterpreter as ti
import matplotlib.cm as cm
import cPickle as pickle
%matplotlib inline
%load_ext autoreload
%autoreload 2

# Feature Contribution Analysis

In this session, how does each feature contribute to random forest decision making will be analysed. 
## 1. Load feature contribution matrix and group by cluster id

In [2]:
fc_df = pd.read_pickle('data/fc_df.pkl')

In [3]:
summary = fc_df.groupby('cluster')['employed'].agg([np.mean,np.size])
summary.columns = ['employment_rate','sample_size']
summary

         employment_rate  sample_size
cluster
0               0.067839          398
1               0.058480          684
2               0.927992         2097
3               0.077778          360
4               0.895210          668
5               0.889313          262

**Cluster 0,2,3** are unemployed groups. **Cluster 1,4,5** are employed groups.

### Load original survey data

In [4]:
sv = survey('data/survey2')
sv.num_processor()

In [5]:
df = pd.concat([sv.fin_data[sv.num_cols],sv.data[sv.sv_cols],sv.fin_data.employed],axis =1)

f31 = fc_df.columns[:31]
df31= df[f31]
l = list(df31.columns)
l.append('cluster')

new = np.column_stack((df31.values,fc_df.cluster))
df = pd.DataFrame(new,columns=l)

## Unemployed Clusters

### Cluster 0

In [6]:
c0 = fc_df[fc_df.cluster == 0]

In [7]:
sort_feature_means(c0,10)

[(-0.10317363862869754, 'coninc'),
 (-0.03392890421279629, 'age'),
 (-0.027697984375685748, 'class_'),
 (-0.023296867668049392, 'agekdbrn'),
 (-0.019737805836251204, 'polviews'),
 (-0.019515172650691602, 'educom'),
 (0.018331218255143, 'degree'),
 (-0.01765954711605959, 'finrela'),
 (-0.016752126734590513, 'partyid'),
 (-0.014696917162165184, 'dwelling')]

In [8]:
df_c0 = df[df.cluster ==0]

In [9]:
df[sv.num_cols] = df[sv.num_cols].astype('float')

In [10]:
df.groupby('cluster')[sv.num_cols].agg([np.median])

        sphrs1    age agekdbrn chldidel      coninc     educom
        median median   median   median      median     median
cluster
0           98     34       22      4.5   6633.5000  12.333333
1           51     35       25      8.0  51705.0000  12.666667
2           60     36       25      4.0  49882.5000  12.333333
3           98     31       19      5.0   8313.7500  12.000000
4           98     33       22      4.0   9486.5625  12.333333
5           98     34       19      4.0  18745.0000  11.666667

In [11]:
df_c0.sphrs1.value_counts()

98    285
40     52
50     12
60      9
70      6
80      4
30      4
45      4
55      3
89      3
35      2
20      2
24      2
65      2
39      1
44      1
97      1
84      1
16      1
54      1
4       1
67      1
Name: sphrs1, dtype: int64

In [12]:
sv.data..median()

SyntaxError: invalid syntax (<ipython-input-12-5eb521a0ae75>, line 1)

In [ ]:
sv.fin_data.boxplot('chldidel', by= 'employed')

In [ ]:
simple_pie(df_c0.partyid)

In [ ]:
df_c0.describe().ix[2:,:].T

In [ ]:
simple_pie(df.divorce)

In [ ]:
simple_pie(df.partyid)

In [ ]:
simple_pie(df_c0.partyid)