In this file, I will visualize the relationship among happiness, employment status and family status.

In [1]:
from __future__ import division
import pandas as pd
import numpy as np
import matplotlib.pylab as plt
%matplotlib inline

In [4]:
df= pd.read_excel('data/employment/GSS.xls')

In [5]:
df.head(3)

,Gss year for this respondent,Respondent id number,Labor force status,Number of hours worked last week,Number of hours usually work a week,Marital status,Respondents sex,Household members less than 6 yrs old,Household members 6 thru 12 yrs old,Household members 13 thru 17 yrs old,Household members 18 yrs and older,General happiness
0,1994,2,Working fulltime,40,Not applicable,Married,Male,0,0,0,2,Very happy
1,1994,5,Working parttime,20,Not applicable,Never married,Female,0,1,1,3,Not too happy
2,1994,11,Working fulltime,40,Not applicable,Never married,Female,0,0,0,1,Pretty happy