In [1]:
from __future__ import division
from code.organize import *
from code.roughEDA import *
from code.survey_processor_full import *

import pandas as pd
import numpy as np
%load_ext autoreload
%autoreload 2
%matplotlib inline

This document shows the idea behind survey procossor. survey is a class function to process survey data on GSS and saved as survey_processor_full.py under data directory.

## Pass data to the survey class

In [2]:
sv = survey('data/survey2/')

### 1. Raw data is loaded and called raw_data

In [3]:
sv.raw_data.head(3)

,Labor force status,Marital status,Ever been divorced or separated,Number of hrs spouse worked last week,Age of respondent,R's age when 1st child born,"Highest year school completed, father","Highest year school completed, mother","Highest year school completed, spouse",Rs highest degree,...,Should govt aid blacks?,Rich - poor,Hard working - lazy,Whites hurt by aff. action,Standard of living of r will improve,Men hurt family when focus on work too much,Family income in constant dollars,Type of structure,Does r own or rent home?,Expect u.s. in world war in 10 years
0,Working parttime,Never married,Not applicable,Not applicable,21,Not applicable,Not applicable,12,Not applicable,High school,...,Agree with both,Not applicable,Not applicable,Not applicable,Not applicable,Neither agree nor disagree,16137,Apartment-4 stories,Not applicable,Not applicable
1,Working fulltime,Never married,Not applicable,Not applicable,52,Not applicable,Not applicable,20,Not applicable,Lt high school,...,4,4,5,Not applicable,Agree,Not applicable,0,Apartment-4 stories,Own or is buying,No
2,Keeping house,Never married,Not applicable,Not applicable,44,14,7,0,Not applicable,Lt high school,...,Govt help blks,Not applicable,Not applicable,Not applicable,Neither,Not applicable,4107,Apartment-4 stories,Pays rent,Don't know

In [4]:
sv.raw_data.shape

(13826, 124)

### 2. num_processor will process this raw data frame by conducting following operations:
  * Convert column names from survey questions to short names.
  * Subset female respondents with children under 13 years old.
  * Create a new column indicating whether the respondent is employed.
  * Impute some missing values in numerical variables with median. 
  * Flag "Not applicable", "No answer" or string answers in nemerical variables.
  * Convert categorical dat to numerical using GSS.sps file under data directory.
  * Create a new column, combine maeduc, paeduc, speduc, and take average.

In [5]:
sv.num_processor()

### 3. fin_data is the processed data frame that can be used for modeling.

In [6]:
sv.fin_data.head(3)

,marital,divorce,sphrs1,age,agekdbrn,degree,res16,mobile16,mawrkgrw,incom16,...,"agekdbrn_Dk,na",agekdbrn_As many as want,agekdbrn_Seven+,chldidel_Not applicable,chldidel_Don't know,chldidel_No answer,"chldidel_Dk,na",chldidel_As many as want,chldidel_Seven+,educom
0,5,0,98,21,98,1,6,1,2,1,...,False,False,False,True,False,False,False,False,False,12.333333
3,1,2,50,30,27,3,6,2,2,-1,...,False,False,False,False,False,False,False,False,False,13.666667
4,1,2,80,41,38,3,6,1,1,-1,...,False,False,False,False,False,False,False,False,False,15.000000

### 4. num_cols is a list containing numeric column names.

In [7]:
sv.num_cols

['sphrs1', 'age', 'agekdbrn', 'chldidel', 'coninc', 'educom']

### 5. sv_cols contains all the categorical columns names

In [8]:
len(sv.sv_cols)

113

### 6. sv.bs is the list of imputed strings and sv.bs_flag contains the numbers to impute the strings.

In [9]:
sv.bs

['Not applicable',
 "Don't know",
 'No answer',
 'Dk,na',
 'As many as want',
 'Seven+']

In [10]:
sv.bs_flag

[98, 97, 96, 9, 8, 7]

### 7. sv.data is a half-processed data frame which keeps all the string answers. It will be used to interprete feature contribution matrix.

In [11]:
sv.data.head(3)

,marital,divorce,sphrs1,age,agekdbrn,paeduc,maeduc,speduc,degree,res16,...,wlthblks,workblks,discaff,goodlife,meovrwrk,coninc,dwelling,dwelown,uswary,employed
0,Never married,Not applicable,Not applicable,21,Not applicable,Not applicable,12,Not applicable,High school,City gt 250000,...,Not applicable,Not applicable,Not applicable,Not applicable,Neither agree nor disagree,16137,Apartment-4 stories,Not applicable,Not applicable,True
3,Married,No,50,30,27,Not applicable,13,16,Bachelor,City gt 250000,...,6,3,Not very likely,Not applicable,Not applicable,121553,Apartment-4 stories,Pays rent,No,False
4,Married,No,80,41,38,Not applicable,17,16,Bachelor,City gt 250000,...,6,5,Not very likely,Agree,Not applicable,121553,Row house,Own or is buying,No,False